body {
    margin: 0px;
}

.form {
    width: 500px;
    padding: 1%;
    background-color: cornsilk;
}

label {
    color: olivedrab;
}

input {
    margin-bottom: 1em;
}

button {
    color: mintcream;
    background-color: olivedrab;
}

button:hover {
    background-color: olive;
}