body {
    margin: 0em;
    padding: 2% 10%;
}

img {
    width: 15%;
    position: absolute;
    top: 150px;
    left: 200px;
    z-index: 1;
}

figcaption {
    position: absolute;
    color: white;
    top: 160px;
    /* left: 192px; */
    left: 250px;
    z-index: 4;
}