body {
    text-align: center;
}

h1 {
    font-size: 24pt;
    color: #9c6644;
}

h2 {
    font-size: 18pt;
    font-weight: bold;
    color: #b08968;
}

p {
    color: #7f5539;
}

img {
    border-radius: 100%;
}

body {
    background-color: #ede0d4;
}

li {
    list-style: none;
    display: inline;
    margin-right: 8px;
}

.skills {
    color: saddlebrown;
}

#home {
    color: brown;
}

[title] {
    cursor: help;
    padding-bottom: 5px;
    border-bottom: 2px dotted;
    text-decoration: none;
}