body {
    padding: 0;
    margin: 0 !important;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: grey;
}

.container {
    background-color: white;
    justify-content: center;
    align-items: center;
}


/*----------------- NAVBAR -----------------*/

.navbar {
    background-color: white;
    padding: 13px;
    display: flex;
    /*width: 100%;*/
    box-shadow: 0 4px 4px rgba(234, 225, 225, 0.25);
    text-align: center;
    justify-content: space-around;
}

.logo {
    margin: 0 1rem 0 3rem;
    padding: 9px;
}

.nav-menu {
    margin: 0;
    padding: 14px;
}

.nav-menu-links {
    display: flex;
    margin: 0;
}

.nav-menu-item {
    margin: 0;
    list-style: none;
}

.nav-menu-item p {
    font-size: 18px;
    font-weight: 500;
    color: #455A64;
    margin: 0 60px;
}

.nav-buttons {
    margin: 0;
    display: flex;
    text-align: center;
}

.unfilled-btn {
    background-color: white;
    color: #FF2E2E;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #FF2E2E;
    display: block;
    position: relative;
    width: 170px;
    height: 53px;
}

.filled-btn {
    background-color: #FF2E2E;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    display: block;
    position: relative;
    width: 170px;
    height: 53px;
    margin-left: 30px;
}


/*----------------- SEGMENT ONE -----------------*/

.segment-one-bg {
    padding: 60px;
}

.segment-one {
    /*width: 1300px;*/
    height: 468px;
    padding: 30px 60px;
    box-shadow: 0 4px 30px rgba(216, 211, 211, 0.4);
    display: flex;
}

.intro-cta {
    width: 50%;
    margin: 0;
    padding: 20px;
}
.intro-text {
    font-size: 48px;
    font-weight: bold;
    color: #FF2E2E;
    margin: 0;
}

.segment-one-bg .segment-one .intro-cta p {
    color: #455A64;
    font-size:18px;
    font-weight: 300;
    line-height: 30px;
    margin-top: 12px;
}

.cta-buttons {
    margin-top: 50px;
    display: flex;
}

.cta-unfilled-btn {
    background-color: white;
    color: #FF2E2E;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid #FF2E2E;
    display: block;
    position: relative;
    width: 170px;
    height: 53px;
}

.cta-filled-btn {
    background-color: #FF2E2E;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
    display: block;
    position: relative;
    width: 170px;
    height: 53px;
    margin-left: 30px;
}

.intro-image {
    width: 50%;
    padding: 20px;
}

.intro-image img {
    position: relative;
    left: 360px;
}


/*----------------- SEGMENT TWO -----------------*/

.segment-two-bg {
    padding: 60px;
    background-color: #FFF2C7;
}

.segment-two {
    /*width: 1300px;*/
    padding: 5px 60px;
}

.segment-two-bg .segment-two h2 {
    font-size: 36px;
    font-weight: bold;
    color: #960C0C;
    margin: 0;
}

.down-nonsense .down-right-shii {
    margin-top: 50px;
    width: 30%;
    position: relative;
    left: 70%;
    /*float: right;*/
}

.segment-two-bg .segment-two p {
    color: #000;
    font-size:18px;
    font-weight: lighter;
    line-height: 30px;
    margin-top: 12px;
}

.more-btn {
    width: 300px;
    height: 50px;
    left: 145px;
    top: 1029px;
    background: #FFF6D7;
    border: 1px solid #960C0C;
    box-sizing: border-box;
    border-radius: 4px;
    color: #960C0C;
    font-size: 13px;
    font-weight: bold;
    margin-top: 40px;
}